.woocommerce-cart-form .cart-passageiro {
  background-color: #ffffff42;
  border-radius: 0.2rem;
  padding: 3px 4px;
}
.woocommerce-cart-form .passageiros .person-icone i {
  font-size: 1.125rem;
}
.woocommerce-cart-form .cart-passageiro + .cart-passageiro {
  margin-top: 4px;
}
.woocommerce-cart-form .cart-passageiro .dados {
  flex-grow: 1;
}
.woocommerce-cart-form .cart-passageiro .dados .nome {
  margin-bottom: 3px;
}
.woocommerce-cart-form .cart-passageiro .dados > div p {
  font-size: 0.65rem;
}
.woocommerce-cart-form .cart-passageiro .dados > div p {
  width: 50%;
  margin-bottom: 0;
}
.woocommerce-cart-form .passageiros > span {
  font-size: 0.65rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  text-align: end;
  width: 100%;
}
.woocommerce-cart-form .passageiros .cart-passageiro p {
  font-size: 0.725rem;
}
.woocommerce-cart-form .passageiros .person-icone {
  display: flex;
  align-items: center;
}
.aer-notices-cart {
  text-align: center;
}
.aer-notices-cart-title {
  font-size: 2rem;
}
.aer-notices-cart-title span {
  font-weight: 500;
}

/*Item do carrinho*/
.woocommerce-cart-form table {
  width: 100%;
}
.woocommerce-cart-form table tbody {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.woocommerce-cart-form table tbody .product-name {
  flex-grow: 1;
}
.woocommerce-cart-form table tbody .product-name div > * {
  display: block;
}
.woocommerce-cart-form table tbody .product-subtotal {
  width: 90px;
}
.woocommerce-cart-form table tbody .product-passageiro {
  width: 280px;
}
.woocommerce-cart-form table tbody .product-passageiro p {
  white-space: nowrap;
}
.woocommerce-cart-form table .product-name .mobile-cart-passageiros {
  display: none;
}
.woocommerce-cart-form .cart_item {
  display: flex;
  transition: 0.2s;
}
.woocommerce-cart-form .cart_item p,
.woocommerce-cart-form .cart_item .product-name i {
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
}

.woocommerce-cart-form
  .cart_item
  .product-passageiro
  .woocommerce-cart-form
  .cart_item:hover {
  background-color: #c7c7c7;
}
.woocommerce-cart-form__cart-item.cart_item td + td {
  border-left: 1px solid #c7c7c7;
}
.woocommerce-cart-form__cart-item.cart_item:hover td + td {
  border-left: 1px solid #b8b8b8;
}
.woocommerce-cart-form__cart-item.cart_item td {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.woocommerce-cart-form__cart-item.cart_item .product-remove a {
  font-size: 1rem;
  background-color: var(--aer-bg-dark);
  color: var(--aer-bg-light);
  width: 13px;
  display: block;
  height: 13px;
  line-height: 12px;
  text-align: center;
  border-radius: 20px;
  opacity: 0.5;
  transition: 0.2s;
  margin: 0 auto;
}
.woocommerce-cart-form__cart-item.cart_item .product-remove a:hover {
  opacity: 1;
}
.woocommerce-cart-form__cart-item.cart_item .product-name a {
  font-size: 1.25rem;
  color: var(--aer-bg-dark);
  letter-spacing: 0.02rem;
}

.cart-collaterals {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 0.3rem;
}
.cart-collaterals table {
  width: 100%;
}
.cart-collaterals h2 {
  font-size: 1.5rem;
}
.wc-proceed-to-checkout {
  text-align: center;
  margin-top: 20px;
}
.cart_totals th,
.cart_totals td {
  font-size: 0.8rem;
  text-transform: uppercase;
}
#carrinho-container .coupon #coupon_inputs {
  display: block;
}
#carrinho-container .coupon label {
  font-size: 0.925rem;
  font-weight: 500;
}
#carrinho-container .coupon input {
  padding: 5px;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 250px;
}
#carrinho-container .coupon button {
  font-size: 0.775rem;
  text-transform: uppercase;
}
.empty-cart a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .woocommerce-cart-form__cart-item.cart_item .product-remove a {
    width: 13px;
    height: 13px;
    font-size: 1rem;
    line-height: 12px;
  }
  .woocommerce-cart-form__cart-item.cart_item td.product-remove {
    padding: 6px;
  }
  .aer-notices-cart-title {
    font-size: 1.3rem;
    line-height: 1.2;
  }
}
@media (max-width: 576px) {
  .woocommerce-cart-form .cart_item .product-name i {
    font-size: 0.7rem;
  }
  .woocommerce-cart-form__cart-item.cart_item .product-name a {
    font-size: 1rem;
    color: var(--aer-bg-dark);
    font-weight: 500;
    letter-spacing: 0.016rem;
    margin-bottom: 4px;
  }
  .woocommerce-cart-form .cart_item p {
    font-size: 0.75rem;
    letter-spacing: 0.005rem;
    line-height: 1.25;
  }
  .woocommerce-cart-form table tr > .product-passageiro {
    width: auto;
    display: none;
  }

  /* Mobile passageiros */
  .woocommerce-cart-form table .product-name .mobile-cart-passageiros {
    display: block;
    margin-top: 2px;
  }
  .woocommerce-cart-form .product-name .mobile-cart-passageiros span {
    font-size: 0.85rem;
    font-weight: 500;
  }
  .woocommerce-cart-form .product-name .mobile-cart-passageiros .passageiros {
    margin-top: 4px;
  }
  .woocommerce-cart-form .product-name .mobile-cart-passageiros .arrow {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(90deg);
    position: relative;
    top: 1px;
  }
  .woocommerce-cart-form .product-name .mobile-cart-passageiros.active .arrow {
    transform: rotate(-90deg);
  }

  .woocommerce-cart-form table tbody .product-subtotal {
    font-size: 0.775rem;
    width: fit-content;
  }
  .cart_totals h2 {
    margin-bottom: 12px;
  }
  .cart_totals th,
  .cart_totals td {
    font-size: 0.775rem;
    text-transform: uppercase;
  }
  .cart_totals td {
    text-align: end;
  }
  #carrinho-container .empty-cart {
    margin-top: 20px;
  }
  #carrinho-container .empty-cart p {
    font-size: 0.9rem;
    opacity: 0.9;
  }
  #carrinho-container .empty-cart p:last-of-type {
    text-decoration: underline;
  }
  #carrinho-container .coupon {
    padding: 10px 0 20px;
  }
  #carrinho-container .coupon #coupon_inputs {
    overflow: hidden;
    transition: 0.3s;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  #carrinho-container .coupon #coupon_inputs.active {
    height: 35px;
  }
  #carrinho-container .coupon label {
    font-size: 0.825rem;
    text-decoration: underline;
  }
  #carrinho-container .coupon input {
    padding: 4px;
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 63%;
  }
  #carrinho-container .coupon button {
    font-size: 0.725rem;
    width: 35%;
    padding: 6px;
  }
  a.woocommerce-remove-coupon {
    font-size: 0.6rem;
    font-weight: 600;
  }
}
