#customer_details label {
  display: block;
}

#customer_details input {
  border: 3px solid var(--aer-bg-light);
  padding: 3px;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 0.9rem;
  width: 100%;
}
.cart_collaterals_pdv p {
  text-align: start;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 0.775rem;
  font-weight: 600;
}
.woocommerce-form-coupon-toggle {
  display: none;
}
.checkout-pagamento .checkout-pagamento-inner {
  padding: 15px;
  border-radius: var(--aer-radius);
  border: 3px solid var(--aer-accent);
}
.checkout-box {
  padding: 10px 0;
}
.flex-checkout-review-order-table .single-excursao .detalhes i {
  opacity: 0.7;
  font-size: 0.7rem;
}
.flex-checkout-review-order-table
  .checkout-box.single-excursao
  + .single-excursao {
  margin-top: 8px;
}
.flex-checkout-review-order-table .checkout-box .valor-cupom {
  color: #3e793e;
  font-weight: 600;
}
.flex-checkout-review-order-table .checkout-box.cupom .title {
  text-align: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-weight: 600;
}
.flex-checkout-review-order-table
  .checkout-box.cupom
  a.woocommerce-remove-coupon {
  opacity: 0.5;
  transition: 0.2s;
  font-size: 0.7rem;
}
.flex-checkout-review-order-table
  .checkout-box.cupom
  a.woocommerce-remove-coupon:hover {
  opacity: 0.85;
  color: var(--aer-red-error);
}
.flex-checkout-review-order-table .single-excursao .exc-name {
  text-align: center;
  font-size: 1.025rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
}
.flex-checkout-review-order-table .single-excursao .detalhes {
  padding: 8px 16px;
  font-size: 0.85rem;
}
.flex-checkout-review-order-table .single-excursao .detalhes p {
  margin-bottom: 0px;
}
.flex-checkout-review-order-table .single-excursao .nome-passageiro {
  margin-bottom: 2px;
}
.flex-checkout-review-order-table .passageiros {
  background-color: #ececec;
  padding: 10px 16px;
}
.flex-checkout-review-order-table .passageiros li + li {
  margin-top: 12px;
}
.flex-checkout-review-order-table .passageiros > p {
  text-transform: uppercase;
  font-size: 0.825rem;
  margin-bottom: 6px;
  letter-spacing: 0.05rem;
  font-weight: 500;
}
.flex-checkout-review-order-table .pax-info-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.flex-checkout-review-order-table .pax-info-flex > p {
  flex-basis: 50%;
  margin-bottom: 0px;
  font-size: 0.775rem;
}
.checkout-pagamento table {
  width: 100%;
}
.checkout-pagamento table tr {
  display: flex;
  justify-content: space-between;
}
.checkout-pagamento tfoot {
  margin-top: 10px;
}
.checkout-pagamento tfoot,
.checkout-pagamento thead,
.checkout-pagamento tbody {
  display: block;
  width: 100%;
}
form.woocommerce-checkout #customer_details label {
  font-size: 0.8rem;
}
.woocommerce-billing-fields__field-wrapper {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  max-width: 600px;
}
.woocommerce-billing-fields__field-wrapper p:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 2px;
}
.woocommerce-order .detalhes-pedido p {
  color: #161616;
  font-weight: 500;
}
.woocommerce-thankyou-order-details {
  padding-left: 0;
  font-size: 0.8rem;
}
#payment.woocommerce-checkout-payment {
  margin-top: 20px;
}
#payment > span {
  font-size: 0.925rem;
  display: block;
  margin-bottom: 4px;
}
#payment li {
  margin-bottom: 3px;
  border-radius: 0.2rem;
  background-color: #e0e0e0;
  transition: 0.2s;
  font-size: 0.875rem;
}
#payment li label {
  padding: 5px;
  cursor: pointer;
  width: 100%;
}
#payment li:hover {
  background-color: #dadada;
}
#payment .woocommerce-terms-and-conditions-wrapper {
  margin-top: 8px;
  font-size: 0.875rem;
}
#payment .woocommerce-terms-and-conditions-wrapper a {
  font-weight: 600;
}
#order_review tfoot {
  font-size: 0.9rem;
}
.cart-discount span {
  text-transform: uppercase;
  font-size: 0.825rem;
}
.detalhes-gateway .mp-details-title {
  margin: 0 0 32px 0;
  text-align: center;
}
/* MP PIX*/

.mp-row-checkout-pix .mp-steps-congrats {
  padding: 0 15px;
}
button#place-order {
}

p.pedido-prazo {
  margin-bottom: 0px;
  font-size: 0.875rem;
}
p.pedido-prazo-aviso {
  font-size: 0.775rem;
  line-height: 1.25;
  opacity: 0.88;
}

@media (max-width: 576px) {
  .flex-checkout-review-order-table .single-excursao .detalhes {
    font-size: 0.8rem;
  }
  .flex-checkout-review-order-table .passageiros > p {
    font-size: 0.75rem;
  }
  .flex-checkout-review-order-table .passageiros li {
    font-size: 0.8rem;
  }
  .flex-checkout-review-order-table .passageiros li + li {
    margin-top: 6px;
  }
  .flex-checkout-review-order-table .single-excursao .subtotal {
    font-size: 0.85rem;
  }
  .detalhes-gateway .mp-details-title {
    font-size: 1.075rem;
    font-weight: 600;
    margin: 0 0 22px 0;
  }
}
