#contato {
  background-color: var(--aer-bg-light);
}
#contato h1 {
  text-align: center;
}
div.contato-inner {
  gap: 20px;
  flex-wrap: nowrap;
}
.contato-inner > div {
  background-color: var(--aer-box-light);
  border-radius: 0.3rem;
  padding: 20px;
  flex-shrink: 1;
}
.contato-inner .contato-btn {
  border: 1px solid var(--aer-light-dark);
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}
.contato-inner .contato-btn:hover {
  background-color: rgb(214, 214, 214);
}
.contato-inner .contato-btn i {
  margin-right: 10px;
}
.contato-inner .redes i {
  font-size: 1.5rem;
  margin: 0 10px;
}

.contato-inner .email .contato-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato-inner .email .contato-btn i {
  font-size: 2.25rem;
}

/* INSTAGRAM */
.FeedHeader__bio.FeedHeader__subtext.FeedHeader__info-row span {
  font-size: 0.715rem;
  line-height: 0;
}
.FeedHeader__info-row {
  margin: 0 !important;
}
.FeedHeader__follow-button button,
.FeedLayout__col-footer .FeedLayout__follow-btn button {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  ) !important;
  border: none !important;
  border-radius: 50px !important; /* Deixa o botão com bordas arredondadas */
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
.instagram-feed .LoadMoreButton {
  background-color: none !important;
  color: rgb(29 29 29) !important;
  padding: 0;
}
.instagram-feed .LoadMoreButton:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  div.contato-inner {
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  #social-footer {
    flex-direction: column;
  }
  .FeedLayout__col-footer {
    margin-top: 6px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
