#form-lost-password h1 {
  text-align: center;
}
#form-lost-password label[for='user_login'] {
  display: block;
  font-size: 0.775rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: 600;
}
#form-lost-password button[type='submit'] {
  display: block;
  margin: 0 auto;
  background: var(--aer-bg-dark);
  color: var(--aer-bg-white);
}

#form-lost-password form > p:first-of-type {
  max-width: 700px;
  text-align: center;
  margin: 0 auto 20px;
}
