/* Classe Base do Header Moderno */
.main-header-modern {
    width: 100%;
    z-index: 1000;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* MODO 1: Header Fixo (Sticky) */
.main-header-modern.header-fixed {
    position: fixed;
    top: 37px;
    left: 0;
    padding: 0 5%;

}

/* MODO 2: Header Estático (Normal) */
.main-header-modern.header-static {
    position: relative; /* ou relative, dependendo se quer que ele role com o banner */
    padding: 0 5%;
}

/* Lógica de Transparência (Integrado à Home) */
.main-header-modern.is-on-home {
    background-color: transparent;
}

/* Lógica de Fundo Sólido (Internas ou após Scroll no Fixo) */
.main-header-modern.is-inner-page,
.main-header-modern.header-fixed.scrolled {
    /* background-color: rgba(12, 12, 12, 0.95); */
    background-color: #0C0C0C;
    
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    top: 0px;
}
.main-header-modern.header-fixed.scrolled{
  top: 0px!important;
}

/* sticky header, com top bar */
.main-header-modern.header-fixed.has-top-header{
top: 37px;
}
/* sticky header, sem top bar */
.main-header-modern.header-fixed{
top: 0px;
}
#content-event.header-fixed .hero-img{
  /* margin-top: 100px; */
}

.main-header-modern.is-inner-page.header-fixed + section, .main-header-modern.is-inner-page.header-fixed + main {
  margin-top: 100px;
}
@media(max-width: 768px){
  .main-header-modern.is-inner-page.header-fixed + section, .main-header-modern.is-inner-page.header-fixed + main {
  margin-top: 86px;
}
}
@media(max-width: 567px){
  .main-header-modern.is-inner-page.header-fixed + section, .main-header-modern.is-inner-page.header-fixed + main {
  margin-top: 80px;
}
}
/* Ajuste do Dropdown para acompanhar o modo */

.header-static #navModernDropdown {
    position: absolute; /* Dropdown rola junto com a página */
}
#top-header {
  text-align: center;
  background-color: var(--aer-bg-dark);
  color: #878787;
  font-size: 0.9rem;
  letter-spacing: 0.035rem;
  padding: 9px;
  font-weight: 500;
}
#top-header strong {
  color: var(--aer-link-hover);
  font-weight: 600;
}
/* Ajuste de Transparência e Fixação */
header#aer_header {
}

header#aer_header.inner-header, 
header#aer_header.scrolled {
  background-color: rgba(12, 12, 12, 0.95); /* Fundo escuro nas internas ou no scroll  */
  backdrop-filter: blur(5px);
}
/* Logo */
.header-logo img{
      width: 180px;
    opacity: .83;
    transition: .2s;
    cursor: pointer;
    filter: invert(.8);
}
.header-fixed.scrolled .header-logo img{
      width: 140px;
}
@media(max-width: 768px){
  .topbar .header-logo img{
      width: 140px;
}
.header-fixed.scrolled .header-logo img{
        width: 120px;
  }
}
@media(max-width: 576px){
  .topbar .header-logo img{
      width: 100px;
  }
  .header-fixed.scrolled .header-logo img{
        width: 100px;
  }
}

/* Header Hub */
.header-hub{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
/* Saudação */
.header-status-greeting {
  font-size: 0.85rem;
  color: #fff;
  opacity: 0.9;
}

/* Ícones de Ação (Carrinho/Notificação) */
.action-icon {
  position: relative;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}
.action-icon a{
  padding: 5px;
}
.action-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--aer-link-hover);
  color: #000;
  font-size: 10px;
  font-weight: 700;
  padding: 1px 5px;
  border-radius: 50%;
}

/* Customização do Dropdown */
:root {
  /* Light Mode (Padrão) */
  --nav-bg: #f9f9f9;
  --nav-text: #171717;
  --nav-shadow: rgba(0, 0, 0, 0.1);
  --nav-divider: #171717;
  --nav-btn-text: #efefef;
  --nav-link-hover: #e6e6e6;

}
/* Quando a classe .dark-theme estiver ativa no body */
body.theme-dark {
  --nav-bg: #2f2f2f;
  --nav-text: #efefef;;
  --nav-shadow: rgba(0, 0, 0, 0.5);
  --nav-divider: #efefef;;
  --nav-btn-text: #efefef;
  --nav-link-hover: #424242
}
/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
.header-hub .navbar-toggler {
    line-height: unset;
    font-size: 1.5rem;
    padding: 4px;
    color: var(--aer-text-light);
}
.header-hub .navbar-toggler:focus{
  box-shadow: none;
}
#navModernDropdown {
  position: absolute;
  top: 78%;
  right: 6%;
  width: 280px;
  background: var(--nav-bg);
  border-radius: 8px;
  box-shadow: 0 10px 30px var(--nav-shadow);
  transition: 0.3s ease; /* Transição suave */
}
.dropdown-content-inner{
  letter-spacing: .04rem;
  padding: 14px;
}

.user-link {
  display: block;
  padding: 8px 5px;
  color: var(--nav-text);
  text-decoration: none;
  font-weight: 500;
  text-align: start;
}
#menu-principal {
      font-size: .925rem;
    gap: 1px;
}
#menu-principal li a{
  color: var(--nav-text);
  padding: 5px;
  display: block;
}
.user-link:hover, #menu-principal li:hover{
  background-color: var(--nav-link-hover);;
}

.login-btn {
    background-color: var(--aer-accent);
    color: var(--nav-btn-text);
    border-radius: 4px;
    text-align: center;
    font-size: .925rem;
}
.login-btn:hover{
    background-color: var(--aer-accent-hover);

}
.dropdown-divider {
  border-top: 1px solid var(--nav-divider);
  margin: 15px 0;
}

/* MENU OFFFCANVAS */
.offcanvas{
  background: var(--nav-bg);
  height: 100vh;
}
.offcanvas.show{
  visibility: visible;
}
.offcanvas .btn-close{
  background: none;
}
.offcanvas .btn-close i{
  color: var(--nav-text)
}
.offcanvas-title{
  color: var(--nav-text);
}

/* Responsividade Mobile */
@media (max-width: 576px) {
  .header-status-greeting {
    display: none; /* Esconde o texto longo no mobile para dar espaço aos ícones */
  }
  
  #navModernDropdown {
    right: 3%;
    width: calc(100% - 6%);
  }
}


/* Botão Toggle Dark/Light Mode */
.theme-toggle-btn {

    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 4px;
    width: 50px;
    height: 26px;
    position: relative;
    transition: background 0.3s ease;
}
body.theme-light .theme-toggle-btn{
    background: #868686;
}
body.theme-dark .theme-toggle-btn{
    
  background: #444;
}
.toggle-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 4px;
    font-size: 14px;
    color: var(--aer-text-light);
}

.toggle-thumb {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--aer-text-light);
    border-radius: 50%;
    top: 3px;
    left: 4px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Estado Ativo (Dark Mode) */
body.theme-dark .theme-toggle-btn { background: var(--aer-accent); }
body.theme-dark .toggle-thumb { transform: translateX(22px); }

/* Estado Ativo (Light Mode) */

body.theme-light .toggle-thumb { background-color: var(--aer-accent); }

/* Variações de Cores no Body */
/* body.theme-light {
    background-color: #f8f9fa;
    color: #212529;
}

body.theme-dark {
    background-color: #0c0c0c;
    color: #ffffff;
} */