@import './account/account-menu.css';
@import './account/minhas-reservas.css';
@import './account/cupons.css';
@import './account/dashboard.css';

body.woocommerce-account .index-inner > h1 {
  display: none;
}
.woocommerce-account.logged-in .woocommerce {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
}
@media (max-width: 567px) {
  .woocommerce-account.logged-in .woocommerce {
    grid-template-columns: 1fr;
  }
}

/* dashboard */
.qr_event_inner_alert {
  background-color: rgb(159, 180, 252);
  text-align: center;
  font-weight: 500;
  font-size: 0.825rem;
  padding: 5px;
  border-radius: 0.3rem;
}

.qr_event_inner_alert .ja_resgatado {
  background-color: rgb(213 199 165);
}
.dashboard-alerta {
  background-color: #e9ebd3;
  padding: 8px 15px;
}
.dashboard-alerta i {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.25rem;
}
.dashboard-alerta p {
  margin-bottom: 0;
  font-size: 0.775rem;
}

@media (max-width: 576px) {
  .woocommerce-account.logged-in .woocommerce {
    gap: 10px;
    display: block;
  }
  .woocommerce-MyAccount-content {
    padding: 30px 0;
  }
}
