#single-post {
  position: relative;
}
#single-post article,
.breadcrumbs.container-md {
  width: 60%;
  margin: 0 auto;
}
.breadcrumbs.container-md {
  margin: -12px auto 12px;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

/* BANNER PARCEIRO */
#single-post .container-parceiro .banner-parceiro {
  display: flex;
  align-items: center;
  border-radius: 0.775rem;
  background: #efefef;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto 20px;
  box-shadow: 0 0 8px 2px #cbcbcb;
}
#single-post .container-parceiro img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}
#single-post .container-parceiro .text {
  font-size: 1.075rem;
  padding-right: 10px;
}

#single-post .container-parceiro .text span {
  font-weight: 600;
}
#single-post article .header-img {
  background-size: cover;
  background-position: center;
  height: 340px;
  border-radius: 0.75rem;
  margin-bottom: 18px;
}
#single-post article header img {
  height: 340px;
  border-radius: 0.75rem 0 0 0.75rem;
  width: 100%;
}
#single-post article .posted-on {
  font-size: 0.855rem;
  opacity: 0.8;
  font-weight: 600;
}
#single-post article .entry-content {
  margin-top: 30px;
}
#single-post article .entry-content p {
  letter-spacing: 0.015rem;
  margin-bottom: 1.4rem;
}
#single-post article .entry-content p a {
  font-weight: 500;
  text-decoration: underline;
}
#single-post .cat-links {
  font-size: 0.825rem;
}
#single-post ol.commentlist {
  list-style: none;
}
#single-post ol.commentlist li {
  position: relative;
  padding: 4px 2px;
}
#single-post ol.commentlist > li::before {
  content: '';
  width: 2px;
  height: 20px;
  position: absolute;
  left: -18px;
  top: 10px;
  background-color: var(--aer-bg-dark);
}

#single-post #respond h3 {
  font-size: 0.9rem;
}
#single-post #respond form p label {
  display: block;
}
#single-post #respond p.comment-notes {
  font-size: 0.8rem;
}
#single-post #respond form p.comment-form-cookies-consent {
  display: flex;
  gap: 3px;
}
#single-post #respond form p.comment-form-cookies-consent label {
  font-size: 0.8rem;
  font-weight: 500;
}
.aligncenter {
  display: flex;
  justify-content: center;
}
footer.entry-footer .tag-links,
footer.entry-footer .cat-links {
  display: none;
}
@media (max-width: 768px) {
  #single-post article,
  #single-post #comments_container {
    width: 90%;
  }
}
@media (max-width: 576px) {
  #single-post article .entry-header {
    padding-top: 212px;
  }
  #single-post article .posted-on {
    font-size: 0.72rem;
  }
  #single-post article .entry-header h1 {
    margin-bottom: 1px;
  }
  #single-post article .header-img {
    height: 196px;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    border-radius: 0px;
  }
  #single-post article .entry-content {
    margin-top: 18px;
  }
  #single-post article h2 {
    font-weight: 600;
  }
  #single-post #respond textarea {
    width: 100%;
  }
  .breadcrumbs.container-md {
    margin: 6px auto 8px 4px;
  }

  /* BANNER PARCEIRO */
  #single-post .container-parceiro .banner-parceiro {
    display: flex;
    align-items: center;
    border-radius: 0.775rem;
    background: #efefef;
    overflow: hidden;
    width: fit-content;
    margin: 0 auto 20px;
    box-shadow: 0 0 8px 2px #cbcbcb;
  }
  #single-post .container-parceiro img {
    width: 68px;
    height: 68px;
    margin-right: 12px;
  }
  #single-post .container-parceiro .text {
    font-size: 0.8rem;
    padding-right: 10px;
    line-height: 1;
  }
  #single-post .container-parceiro .text span {
    margin-top: 6px;
    font-size: 0.925rem;
  }
}

/* COMMENTS */
#single-post #comments_container {
  width: 60%;
  margin: 60px auto 30px;
  border: 2px solid var(--aer-light-dark);
  border-radius: 0.4rem;
  padding: 10px 14px;
}

#single-post #comments_container > h3#title-comments {
  background-color: var(--aer-light-dark);
  text-transform: uppercase;
  color: var(--aer-bg-light);
  letter-spacing: 0.075rem;
  font-size: 1.15rem;
  margin: -10px -14px;
  padding: 10px 14px;
}
#single-post #comments_container > h3 {
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-size: 0.725rem;
  padding: 20px 0 2px;
}
#single-post #comments_container #reply-title {
  margin-top: 26px;
  font-size: 0.875rem;
  text-transform: uppercase;
}
#comments_container .logged-in-as {
  font-size: 0.825rem;
}
#comments_container .logged-in-as a {
  display: none;
}

#comments_container .logged-in-as .required-field-message {
  display: block;
}
#comments_container form#commentform {
  display: flex;
  flex-direction: column;
}
#comments_container form#commentform .form-submit {
  order: 1;
}
#comments_container form#commentform .form-submit input.submit {
  font-size: 0.85rem;
  letter-spacing: 0.06rem;
  padding: 2px 16px;
  border: none;
  background: var(--aer-light-dark);
  color: var(--aer-bg-light);
  border-radius: 1.5rem;
  transition: 0.2s;
}
#comments_container form#commentform .form-submit input.submit:hover {
  background: #262626;
}
#comments_container form#commentform .comment-form-comment {
  margin-bottom: 2px;
}

ol.commentlist li .comment-meta {
  font-size: 0.725rem;
  margin-top: 4px;
}

ol.commentlist li .comment-edit-link {
  font-weight: 600;
}
#single-post .comment-author.vcard img {
  display: none;
}

ol.commentlist li .reply a {
  display: none;
  font-size: 0.85rem;
  padding: 3px 6px;
  border: 1px solid #979797;
  border-radius: 0.2rem;
  color: rgb(81 81 81);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px rgb(218, 218, 218);
}
ol.commentlist li .reply a:hover {
  color: rgb(54, 54, 54);
  border-color: #797979;
  background-color: #d9d9d9;
  box-shadow: 1px 1px rgb(194, 194, 194);
}
@media (max-width: 576px) {

}
