/*Slide*/
.aer-cards-slider .slider-frame {
  position: relative;
}
.aer-cards-slider .ver-todas-link {
  color: var(--aer-light-text);
  font-size: 0.775rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
}
.aer-cards-slider .ver-todas-link:hover {
  text-decoration: underline;
}
#excursoes-relacionadas .aer-cards-slider .ver-todas-link {
  display: none;
}
.aer-cards-slider .slider-frame .controls-wrapper {
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 103%;
  z-index: 99;
}
.aer-cards-slider .slider {
  flex-wrap: nowrap;
  transition: 0.3s;
  transform: translateX(0%);
  display: flex;
}

.aer-cards-slider .controls-wrapper span {
  font-size: 1.8rem;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 20px;
  background-color: #0e0e0e;
  color: var(--aer-light-text);
  display: block;
  line-height: 1.1;
  cursor: pointer;
  user-select: none;
}
.aer-cards-slider .controls-wrapper span:not(.disabled):hover {
  background-color: #080808;
}
.aer-cards-slider .controls-wrapper span.disabled {
  color: #1e1e1e;
  background-color: #232323;
  cursor: default;
}
#excursoes-relacionadas .aer-cards-slider .controls-wrapper {
  display: none;
}
.aer-cards-slider .slider-wrapper {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .aer-cards-slider.container-md {
    padding: 0 !important;
  }
  .aer-cards-slider h2 {
    padding-left: 10px;
  }
  .aer-cards-slider .slider {
    padding: 0 10px;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* gap: 8px; */
  }
  .aer-cards-slider .row.slider::-webkit-scrollbar {
    display: none;
  }
  .aer-cards-slider .slider > div {
    padding: 0 4px;
  }
  .aer-cards-slider .slider-frame {
    overflow: hidden;
  }
  .aer-cards-slider .slider-frame .controls-wrapper {
    display: none;
  }
}
