/*Slide*/
.aer-cards-slider .slider-frame {
  position: relative;
}
.aer-cards-slider .ver-todas-link {
  color: var(--aer-light-text);
  font-size: 0.775rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  z-index: 999;
}
.aer-cards-slider .ver-todas-link:hover {
  text-decoration: underline;
}
#excursoes-relacionadas .aer-cards-slider .ver-todas-link {
  display: none;
}
.aer-cards-slider .slider-frame .controls-wrapper {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: calc(100% + 40px); /* Ajuste dinâmico para as setas ficarem fora do card  */
  z-index: 100; /* Acima da animação dos cards  */
  pointer-events: none; /* Permite clicar no que estiver atrás se necessário */
}
.aer-cards-slider .slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: visible; /* Importante para não cortar as sombras e animações */
  transition: 0.3s;
}

.aer-cards-slider .controls-wrapper span {
  font-size: 1.8rem;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 20px;
  background-color: #0e0e0e;
  color: var(--aer-light-text);
  display: block;
  line-height: 1.1;
  cursor: pointer;
  user-select: none;
  pointer-events: auto; /* Reativa o clique apenas nos botões [cite: 39] */
  box-shadow: 0 4px 10px rgba(0,0,0,0.5); /* Sombra para destacar do fundo [cite: 39] */
}
.aer-cards-slider .controls-wrapper span:not(.disabled):hover {
  background-color: #080808;
}
.aer-cards-slider .controls-wrapper span.disabled {
  color: #1e1e1e;
  background-color: #232323;
  cursor: default;
}
#excursoes-relacionadas .aer-cards-slider .controls-wrapper {
  display: none;
}
.aer-cards-slider .slider-wrapper {
  overflow-x: auto; 
  overflow-y: visible !important;
  padding-top: 40px; 
  margin-top: -40px;
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}
/* Esconde a barra de rolagem visual para manter o design limpo */
.slider-wrapper::-webkit-scrollbar {
  display: none;
}
.slider-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .aer-cards-slider.container-md {
    padding: 0 !important;
  }
  
  .aer-cards-slider h2 {
    padding-left: 10px;
  }
  .aer-cards-slider .slider {
padding: 40px 10px 10px 10px !important; /* Aumentamos o padding superior */
    margin-top: -40px !important;            /* Compensamos para não criar buraco no layout */
    overflow: visible !important;
  }
  .aer-cards-slider .row.slider::-webkit-scrollbar {
    display: none;
  }
  .aer-cards-slider .slider > div {
    padding: 0 4px;
  }
  .aer-cards-slider .slider-frame {
    overflow: visible!important;
  }
  .aer-cards-slider .slider-frame .controls-wrapper {
    display: none;
  }
  .aer-cards-slider .slider-wrapper {
    overflow-x: auto;
    overflow-y: visible !important; 
    padding-top: 40px; 
    margin-top: -40px;
  }
}
