.parceiros > div:last-child img {
  width: 500px;
  border-radius: 0.3rem;
}
.parceiros .parceiros-inner {
  display: flex;
  align-items: center;
  gap: 15px;
}
.parceiros .parceiros-inner > div {
  border-radius: 10px;
  overflow: hidden;
  height: 120px;
}
.parceiros .parceiros-inner img {
  height: 100%;
}

@media (max-width: 576px) {
  .parceiros {
    flex-direction: column;
    gap: 30px;
  }
  .parceiros > div:last-child img {
    width: 100%;
    border-radius: 0.3rem;
  }
  .parceiros .parceiros-inner {
    gap: 15px;
  }
  .parceiros .parceiros-inner > div {
    height: 75px;
  }
}
