/* FORMULÁRIO MODERNO AEROTOUR */
form.woocommerce-EditAccountForm{
  padding-top: 1.25rem;
}
.form-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr; /* Dados ocupam mais espaço */
    gap: 40px;
    align-items: start;
}
@media(max-width: 1024px){
  .form-grid {
    grid-template-columns: 1fr; /* Dados ocupam mais espaço */
}


.form-section-card.security-section > div{
     align-items: flex-start;
}
.form-section-card.security-section h3{
  text-align: start;
}
}
.form-section-card h3 {
    color: #400f0f;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 12px;
    margin-bottom: 24px !important;
    font-size: 1.125rem;
        width: 100%;
}
.form-section-card input:hover{
  background-color: #f3f3f3;

}
.form-section-card label {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .025rem;
}
.form-section-card .document-selector .form-check-label{
  font-size: .8rem;
    font-weight: 300;

}

.security-section > div{
     align-items: flex-start;
    flex-direction: column;
}

/* Inputs Estilizados */
.aer-text-input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fdfdfd;
    transition: all 0.2s ease;
}

.aer-text-input:focus {
    border-color: #400f0f;
    box-shadow: 0 0 0 3px rgba(64, 15, 15, 0.1);
    outline: none;
}

/* Botão Alternar Senha */
.btn-toggle-password {
    background: none;
    border: none;
    color: #007cba;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    padding: 5px;
}

.btn-toggle-password:hover {
    text-decoration: underline;
}
div#password-change-fields {
    background: #efefef;
    padding: 20px 24px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #dddddd;
}
#password-change-fields > p{
  font-size: .775rem;
}