/* #secaoFotos {
  padding: 0 20px;
} */
#secaoFotos .carousel-inner {
  display: flex;
}
#secaoFotos .carousel {
  height: 420px;
  box-sizing: border-box;
}
#secaoFotos .carousel-item {
  max-height: 420px;
  overflow: hidden;
  border-radius: 1rem;
}
@media (max-width: 576px) {
  #secaoFotos {
    margin-bottom: 12px;
  }
  #secaoFotos .carousel {
    height: 320px;
  }
  #secaoFotos .carousel-item {
    max-height: 320px;
  }
}
