@import url(galeria.css);
@import url(app-reservas/app-reservas-main.css);
@import url(../includes/sticky-tag.css);
@import url(../includes/embaques-section.css);
#topAdBanner {
  width: fit-content;
  margin: 0 auto;
}
#topAdBanner small {
  font-size: 0.575rem;
}
.aviso-ultimas-vagas {
  background-color: #fff8cc;
  border: 1px solid #ffd700;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  width: fit-content;
  color: #a67c00;
  margin: unset;
  font-size: 0.775rem;
}
.aviso-ultimas-vagas.aviso-esgotado {
  background-color: #ffe5e5;
  border: 1px solid #cc0000;
  color: #971710;
}
.aviso-ultimas-vagas strong {
  font-size: 0.85rem;
}
.box1,
.box2 {
  grid-row: span 2;
}
.box3,
.box4 {
  padding: 12px 12px 12px 22px !important;
}
.box1 .label,
.box2 .label,
.tab-nav {
  margin-bottom: 10px;
}
#nav-error a,
.ingressos-link:hover,
.instagram-feed .LoadMoreButton:hover {
  text-decoration: underline;
}
.excursao-wrapper .info h2 {
  margin-top: 20px;
  font-size: 1.75rem;
  font-weight: 300;
}
#info-body {
  flex-grow: 1;
  position: relative;
}
#info-body h1 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
#info-body h1 span {
  font-weight: 600;
  display: block;
  margin: 0 0 5px 0;
  background: var(--aer-accent);
  width: fit-content;
  color: var(--aer-text-light);
  padding: 4px 14px;
  border-radius: 4px;
  font-size: 1rem;
}
#info-body .share {
  padding: 10px 10px 0;
  height: fit-content;
}
#info-body .share > span {
  font-size: 0.675rem;
  display: block;
  text-align: right;
}
#info-body .share .share-icons {
  gap: 0.4rem;
}
#info-body .info > .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 64px);
  gap: 10px;
  padding: 20px 0;
}
.info > .grid-container .box::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 62%;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  background-color: var(--aer-accent);
}
.info > .grid-container .box {
  padding: 16px 16px 16px 22px;
  box-sizing: border-box;
  height: 100%;
  word-break: break-word;
  overflow: hidden;
  border-radius: 8px;
  background: var(--aer-box-light);
  backdrop-filter: blur(6px) saturate(110%);
  -webkit-backdrop-filter: blur(6px) saturate(110%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 6px 18px rgba(16, 24, 40, 0.06);
  position: relative;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
}
.box .label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--aer-accent);
  font-weight: 600;
}
.box .pre-value {
  font-size: 10px;
  color: var(--aer-accent);
}
#info-body .info-row-value p,
.box .post-value {
  font-size: 0.9rem;
}
#info-body .reserva-box h3,
#infos-accordion h3 button {
  font-size: 1rem;
  color: #494949 !important;
  position: relative;
}
.box .value {
  font-size: 16px;
  font-weight: 600;
  color: #131313;
  letter-spacing: 0.04rem;
}
.box3 .value,
.box4 .value {
  font-size: 14px;
}
.box1 {
  grid-column: 1;
}
.box2 {
  grid-column: 2;
}
.box3 {
  grid-row: 1;
}
.box4 {
  grid-row: 2;
}
.box1,
.box2 {
  min-height: 100px;
}
.box3,
.box4 {
  padding: 10px 14px;
  grid-column: 3;
}
@media (max-width: 1200px) {
  .box1,
  .box2 {
    grid-row: span 2;
  }
  #info-body .info > .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .box1 {
    grid-column: 1;
  }
  .box2 {
    grid-column: 2;
  }
  .box3 {
    grid-column: 1;
    grid-row: 3;
  }
  .box4 {
    grid-column: 2;
    grid-row: 3;
  }
}
.ingressos-link {
  position: relative;
}
.ingressos-link::after {
  content: '\27A5';
  position: absolute;
  right: -26px;
  bottom: -5px;
  font-size: 20px;
  color: #131313;
}

/* cta button */
.cta-button {
  display: block;
  width: fit-content;
  margin: 14px auto 20px;
  padding: 12px 24px;
  background-color: var(--aer-accent);
  color: #f9f9f9;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cta-button img {
  position: relative;
  top: -2px;
}

@media (min-width: 768px) {
  .cta-button {
    display: none !important;
  }
}
/* tab navigation */
.tab-container {
  margin-top: 16px;
}
.tab-nav {
  display: flex;
  gap: 10px;
}
.tab-nav button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: var(--aer-box-light);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.875rem;
}
.tab-nav button.active {
  background-color: var(--aer-accent);
  color: #fff;
}
.tab-content {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-height: 440px;
  overflow-y: auto;
  scrollbar-width: thin; /* para Firefox */
  scrollbar-color: #9c9c9c #e0e0e0; /* para Firefox */
}
.tab-content.active {
  display: block;
}
.tab-content.tab-como-funciona ul {
  font-size: 0.925rem;
}
/* Estilo para navegadores WebKit (Chrome, Edge, Safari) */
.tab-content::-webkit-scrollbar {
  width: 8px;
}

.tab-content::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

.tab-content::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
li.list-group-item::before {
  content: '';
  background-image: url('../../assets/icons/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  height: 15px;
  width: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
}

/* PRINCIPAIS DÚVIDAS */
dl#principaisDuvidasContent {
  padding: 8px 0 0 10px;
}
dl#principaisDuvidasContent .resposta {
  font-size: 0.9rem;
}

#content-event .notices .woocommerce-error li {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: baseline;
  font-size: 0.825rem;
  padding: 15px 25px;
  background-color: #d3d2ba;
  width: fit-content;
  margin: 0 auto;
  border-radius: 0.3rem;
}
#content-event .row.product-body {
  flex-direction: column;
}
#content-event .notices .woocommerce-error li p {
  font-size: 1.3rem;
  margin: 0 10px 0 0;
}
#content-event .excursao-wrapper {
  background-color: #e7e7e7;
  z-index: 99;
  position: relative;
  width: 92%;
  margin-top: 0;
}
@media (max-width: 1080px) {
  #content-event .excursao-wrapper {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  #content-event .excursao-wrapper {
    margin-top: -92px;
  }
  #content-event .hero-img {
    padding: 0 20px;
  }
}
#info-body .disp-header {
  padding: 2px 16px;
  width: fit-content;
  font-size: 0.775rem;
  font-weight: 600;
  letter-spacing: 0.11rem;
}
#info-body .disp-header.esgotado {
  background-color: #b98b8b;
  box-shadow: -2px 2px 0 #2e1616;
}
#info-body .disp-header.ultimos {
  background-color: #c3bf8a;
  box-shadow: -2px 2px 0 #2e2c16;
}
#info-body .lugares-reservados {
  display: flex;
  background-color: #d5d5d5;
  padding: 2px 10px;
  font-size: 0.725rem;
  font-weight: 600;
  width: fit-content;
  margin: 10px 0;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}
#info-body .lugares-reservados p {
  line-height: 1.85;
}
.reserva-box {
  margin-top: 15px;
}
.reserva-box h2 {
  position: relative;
  font-size: 1.25rem;
  text-align: center;
}
.reserva-box h2::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -8px;
  height: 2px;
  width: 100%;
  background-image: radial-gradient(#494949 20%, transparent 80%);
}

#info-body .reserva-box h3 {
  text-align: center;
  text-align: end;
}
#nav-error {
  border: 2px solid var(--aer-red-error);
  background-color: #f3f3f3;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}
#nav-error a {
  font-size: 1.125rem;
}
#exc-wpp-cta {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#exc-wpp-cta div[role='button'] {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background: linear-gradient(135deg, #25d36659, #128c7e59);
  border: none;
  padding: 6px 14px;
  box-shadow: 0 6px 6px 0 #cdcdcd;
  border-radius: 6px;
  transition: 1s;
  user-select: none;
  color: #1a1a1a;
}
#exc-wpp-cta div[role='button']:hover {
  box-shadow: 0 4px 3px 0 #c2c2c2;
  background: linear-gradient(315deg, #25d36659, #128c7e59);
}
#exc-wpp-cta .wpp-icon img {
  opacity: 0.75;
}
#exc-wpp-cta p {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: -8px;
}
#exc-wpp-cta span {
  font-size: 0.825rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
}
#promo-wide-banner img {
  display: block;
  margin: -20px auto 10px;
  max-width: 860px;
  width: 76%;
}
#social-footer > div {
  padding: 0 20px;
}
@media (max-width: 576px) {
  #social-footer > div {
    padding: 0px;
  }
}
.FeedLayout__wrapper {
  background-color: rgb(215 215 215) !important;
}
.instagram-feed .spotlight-instagram-feed {
  border-radius: 12px;
  overflow: hidden;
}
.FeedHeader__bio.FeedHeader__subtext.FeedHeader__info-row span {
  font-size: 0.715rem;
  line-height: 0;
}
.FeedHeader__info-row {
  margin: 0 !important;
}
.FeedHeader__follow-button button,
.FeedLayout__col-footer .FeedLayout__follow-btn button {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  ) !important;
  border: none !important;
  border-radius: 50px !important;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  cursor: pointer !important;
  transition: transform 0.3s, box-shadow 0.3s !important;
}
.instagram-feed .LoadMoreButton {
  background-color: none !important;
  color: rgb(29 29 29) !important;
  padding: 0;
}
@media (max-width: 768px) {
  .aviso-ultimas-vagas {
    margin: 0 auto;
    font-size: 0.725rem;
    text-align: center;
  }
  #info-body h1 {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  #info-body h1 span {
    font-weight: 600;
    display: block;
    margin: 0 auto 5px;
    background: var(--aer-accent);
    width: fit-content;
    color: #f9f9f9;
    padding: 4px 14px;
    border-radius: 4px;
    font-size: 1rem;
  }
  #info-body .share {
    display: none;
  }
  #content-event h3 {
    font-size: 0.825rem;
  }
  #content-event .datas,
  #content-event .reserva-box h3,
  #content-event .variacao-info,
  #info-placeholder p {
    text-align: center;
  }
  #content-event .variacao-info {
    position: relative;
  }
  #promo-wide-banner .img-bg {
    margin-top: 10px;
    height: 5rem;
    background-position-x: center;
  }
  #promo-wide-banner img {
    margin-top: 0;
  }
  #social-footer {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .FeedLayout__col-footer {
    margin-top: 6px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (max-width: 576px) {
  #info-body .info > .grid-container {
    gap: 12px;
    padding: 20px 0;
  }
  .box1 .label,
  .box2 .label {
    font-size: 0.775rem;
  }
  .box3 .label,
  .box4 .label {
    font-size: 0.675rem;
  }
  .box3 i,
  .box4 i {
    transform: translateY(-2px);
  }
  .box .value {
    font-size: 0.925rem;
  }
  .box1,
  .box2 {
    min-height: 90px;
  }
  .excursao-wrapper .info h2 {
    font-size: 1.4rem;
    margin-top: 26px;
  }
  .tab-nav button {
    padding: 10px 12px;
    border-radius: 0.75rem;
    line-height: 1;
  }
  .reserva-box h3 {
    font-size: 0.875rem;
    color: #494949 !important;
    text-align: center;
    position: relative;
  }
  .reserva-box h3::after {
    background-image: radial-gradient(#494949 20%, transparent 80%);
  }
  .reserva-box .label i {
    font-size: 0.775rem;
    font-weight: 300;
  }
  .datas-badges-wrapper {
    justify-content: center;
  }
  .excursao-details .alerta-vagas {
    margin-left: auto;
    margin-right: auto;
  }

  #promo-wide-banner img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #content-event .row.product-body {
    flex-direction: row;
  }
  #content-event .main-image {
    max-width: 1400px;
    margin: 0 auto;
    display: block;
  }
  #info-body h1 {
    font-size: 2rem;
  }
  .reserva-box h2 {
    text-align: end;
  }
  .reserva-box h2::after {
    background-image: radial-gradient(#494949 20%, transparent 80%);
  }
  .reserva-box {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  #info-body .disp-header {
    padding: 3px 18px;
    font-size: 0.875rem;
  }
}
