/* PÁGINA DO FORMULÁRIO DE SOLICITAÇÃO DO EMAIL DE CONFIRMAÇÃO */
#form-lost-password h1 {
  text-align: center;
}
#form-lost-password label[for='user_login'] {
  display: block;
  font-size: 0.775rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: 600;
}
.woocommerce-lost-password button[type='submit'] {
  width: fit-content;
  min-width: 100px;;
}
.woocommerce-lost-password button[type='submit']:hover {
color: #f5f3f3
}

#form-lost-password form > p:first-of-type {
  max-width: 700px;
  text-align: center;
  margin: 0 auto 20px;
}

#form-lost-password  label {
  font-size: 0.925rem;
}
#form-lost-password  input {
  width: 100%;
  max-width: 460px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px var(--aer-accent) solid;
  background: #f5f3f3;
  margin-top: 8px;
}
form.lost_reset_password p{
  font-size: .925rem;
      text-align: center;
    margin-bottom: 26px;
}


/* PÁGINA DE CONFIRMAÇÃO DE ENVIO DO EMAIL DE RECUPERAÇÃO */
.woocommerce-lost-password .confirmation-container p{
  text-align: center;
  padding: ;
}

a.link-voltar {
  color: var(--aer-accent);
  opacity: .75;
}
a.link-voltar:hover{
  opacity: .9;
  
}

/* PÁGINA DO FORMULÁRIO DE REDEFINIÇÃO DA SENHA PÓS CLIQUE NO LINK */
button.show-password-input{
  display: none;
}

form.lost_reset_password{
    max-width: 460px;
    margin: 0 auto;
}
form.lost_reset_password label{
  display: block;
}
form.lost_reset_password #password_strength{
      width: fit-content;
    margin: 6px auto;
}