.display-card {
  max-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display-card-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  height: 120px;
}
.display-card img.main-img {
  height: 120px;
}
.display-card h3 {
  text-align: center;
}
.display-card h3 span {
  display: block;
  font-size: 0.7rem;
  font-style: italic;
}
.display-card h3 p {
  font-size: 0.95rem;
  text-transform: uppercase;
  margin-bottom: 2px;
  padding: 0 8px;
}
.display-card .date-place {
  display: flex;
  opacity: 0.75;
  gap: 12px;
  flex-direction: column;
  padding: 16px 12px;
}
.display-card .date-place > div {
  align-items: center;
  gap: 2px;
  display: flex;
}
.display-card .date {
}
.display-card .place {
}
.display-card .place p {
  line-height: 1;
  margin-bottom: 2px;
  font-size: 0.825rem;
}
.display-card .place,
.date-badges .a-definir {
  font-size: 0.675rem;
  text-transform: uppercase;
}
.date-badges .a-definir {
  position: relative;
  bottom: 5px;
}
.display-card .place span {
  display: block;
  margin-top: -3px;
  font-size: 0.575rem;
  letter-spacing: 0.04rem;
}
.display-card button {
  display: block;
  margin: 0 auto;
  border: none;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 100%;
}
.display-card button a {
  padding: 5px 0;
  display: block;
}
.display-card .date-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.display-card .date-badges span {
  font-weight: 600;
  background-color: #ffffff1c;
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 3px 5px;
  line-height: 1.125;
}
.display-card .date-badges.multi2 span {
  font-size: 0.725rem;
  padding: 3px 5px;
}
.display-card .date-badges.multi3 span {
  font-size: 0.615rem;
  padding: 1px 3px;
}
.display-card .date-badges span[data-status='esgotado'] {
  background-color: #a16c6b !important;
}
.display-card .date-badges span[data-status='ultimos'] {
  background-color: #c7af8c !important;
}

/* DARK STYLE */
.display-card.dark {
  background-image: linear-gradient(180deg, #363636, #1e1e1e);
  color: var(--aer-light-text);
  /* background-color: #b1b1b1; */
}
.display-card.dark button {
  background-color: #343434;
  color: var(--aer-light-text);
}
.display-card.dark .date-badges span[data-status='ultimos'],
.display-card.dark .date-badges span[data-status='esgotado'] {
  color: #343434;
}
.display-card .date-badges span[data-status='encerrado'] {
  background-color: #939393;
  color: #636363;
}
/* LIGHT STYLE */
.aer-bg-light .display-card {
  background-image: linear-gradient(180deg, #dfdfdf, #cfcfcf);
  box-shadow: 3px 3px 6px rgb(182, 182, 182);
  color: var(--aer-bg-dark);
}
.aer-bg-light .display-flex-child {
  margin-bottom: 6px;
}
.aer-bg-light .display-card .date-place img {
  filter: invert(1);
}
.aer-bg-light .display-card .date-badges span {
  background-color: #0000001c;
}
.aer-bg-light .display-card button {
  background-color: #a5a5a5;
  color: var(--aer-bg-dark);
}

.aer-bg-light .display-card .date-badges span[data-status='encerrado'] {
  background-color: #c9c9c9;
  color: #9b9b9b;
}

@media (max-width: 767px) {
  #archive-product .display-card {
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
  }
  #archive-product .display-card-header {
    height: unset;
    width: 140px;
    min-width: 140px;
  }
  #archive-product .display-card img.main-img {
    height: 116px;
  }
  #archive-product .display-card h3 {
    text-align: start;
  }
  #archive-product .display-card-body {
    width: 100%;
    margin-left: 4px;
  }
  #archive-product .display-card .date-place {
    gap: 4px;
  }
  #archive-product .display-card-footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #archive-product .display-card .date-place {
    padding: 4px 6px;
  }

  #archive-product .display-card button {
    font-size: 0.675rem;
    background-color: #393939;
  }
  #archive-product .display-card button a {
    padding: 3px 0;
  }
}

@media (max-width: 576px) {
  .display-card h3 span {
    font-size: 0.6rem;
  }
  .display-card h3 p {
    font-size: 0.875rem;
  }
  .display-card .date-place > div {
    width: 100%;
  }
  .display-card .date-place img {
    width: 14px;
    height: 14px;
  }
  .display-card .date-badges.multi3 span {
    font-size: 0.575rem;
    padding: 1px 3px;
  }
  .display-card .date-badges {
    gap: 3px;
  }
}
