/* emails/emails-estilo.css */
:root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
}

.email-container { font-family: Arial, sans-serif; background: #f7f7f7; padding: 20px; }
.email-box { max-width: 640px; margin: auto; background: #fff; border-radius: 10px; border: 1px solid #e0e0e0; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);}
.header { background: #400f0f; color: #fff; padding: 16px 24px; }
.content { padding: 24px; color: #333; }
.table-data { width: 100%; border-collapse: collapse; margin-top: 16px; }
.table-data td { padding: 8px; border-bottom: 1px solid #eee; }
.footer { background: #f0f0f0; padding: 12px 24px; text-align: center; font-size: 13px; color: #666; }

@media (prefers-color-scheme: dark) {
      .content-box { background-color: #ffffff !important; color: #333333 !important; }
    /* Esconde o logo escuro */
    .light-img {
        display: none !important;
    }

    /* Mostra o logo claro */
    .dark-img-wrapper {
        display: block !important;
        width: auto !important;
        max-height: none !important;
        line-height: auto !important;
        float: none !important;
    }

    .dark-img {
        display: block !important;
    }

    /* Garante que o botão principal não suma no modo escuro */
    a[style*="background-color: #400f0f"] {
        background-color: #400f0f !important;
        color: #ffffff !important;
    }
}

/* Suporte para Outlook App (Android/iOS) */
[data-ogsc] .light-img { display:none !important; }
[data-ogsc] .dark-img-wrapper { display:block !important; width:auto !important; max-height:none !important; }